* {
  /* border: 1px solid black; */
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

body {
  position: relative;
  border: none;
  margin: 0;
  height: 100%;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

p {
  font-size: .8em;
}

button:hover {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
}

.book-button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  height: 21px;
  border: 1px solid black;
  width: 100px;
  font-size: 8px;
}

.book-button:hover {
  background-color: black;
  color: white;
}

body:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../images/cement-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}

/* ---------------------HEADER--------------------- */

header {
  display: flex;
  align-items: center;
}

.header-left,
.header-right {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.header-left {
  justify-content: flex-start;
}

.logo {
  margin-right: 25px;
}

.header-subtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: .5em;
  margin-top: 10px;
  letter-spacing: 2px;
}

.header-right {
  justify-content: flex-end;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* ---------------------BANNER--------------------- */

.banner-parent {
  display: flex;
  width: 80%;
  height: 66vw;
  margin-top: 6vw;
}

.image-parent-left,
.image-parent-right {
  width: 50%;
  height: 66vw;
}

.image-parent-right {
  display: flex;
  align-items: flex-end
}

.banner-image {
  width: 100%;
  transform: scaleX(-1);
  opacity: .95;
}

h1 {
  position: absolute;
  background-color: #ffffffe6;
  padding: 1vw 4vw;
  right: 21%;
  top: 17%;
  letter-spacing: 2px;
}

h4 {
  position: absolute;
  background-color: #ffffffe6;
  padding: 1vw 4vw;
  left: 12%;
  top: 42%;
}

/* ---------------------ACCORDION BANNER--------------------- */

.accordion-grandparent {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 98vw;
  width: 72%;
  height: 530px;
  background-color: rgba(255, 255, 255, 0.868);
  font-size: .8em;
}

.accordion-parent {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.accordion-banner-parent {
  margin-top: 20px;
}

.hotel-copy-parent {
  width: 48%;
  margin-bottom: 50px;
}

.copy-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: .3em;
  letter-spacing: 2px;
}

.accordion-welcome-parent {
  text-align: center;
  margin-bottom: 35px;
}

.accordion-welcome {
  margin-bottom: 35px;
}

.accordion-welcome-parent>p {
  font-size: .7em;
}

.accordion-button {
  text-align: left;
}

.accordion-button-collapsed::after {
  content: "\02795";
  float: right;
}

.accordion-button-open::after {
  content: "\2796";
}

/* ---------------------ACC: PROFILE--------------------- */

.profile-parent {
  flex-direction: column;
  height: 470px;
  display: none;
}

.stays-parent {
  overflow: scroll;
  width: 80%;
  height: 138px;
}

td {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: .8em;
}

/* ---------------------ACC: BOOK--------------------- */

.book-grandparent {
  height: 380px;
}

.book-accordion-buttons {
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  height: 19px;
}

.date-grandparent {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 175px;
}

.date-parent {
  display: flex;
  flex-direction: column;
}

.submit-button {
  height: 16px;
  width: 44px;
  font-size: 7px;
  letter-spacing: 1px;
}

.room-grandparent {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 320px;
}

.rooms-parent {
  overflow: scroll;
  width: 80%;
  height: 150px;
}

.confirm-grandparent {
  height: 175px;
  display: none;
}

/* ---------------------ACC: ABOUT--------------------- */

.about-parent {
  display: none;
  flex-direction: column;
}




















/* KEEP AT BOTTOM */

.hide {
  display: none;
}

.show {
  display: flex;
}