* {
  /* border: 1px solid black; */
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

body {
  position: relative;
  border: none;
  margin: 0;
  height: 100%;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

p {
  font-size: .8em;
}

b {
  font-weight: 800;
}

button:hover {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
}

.book-button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  height: 21px;
  border: 1px solid black;
  width: 100px;
  font-size: 8px;
}

.book-button:hover {
  background-color: black;
  color: white;
}

body:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../images/cement-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 190%;
  opacity: 0.15;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}

/* ---------------------GLOBAL TABLE ATTR--------------------- */

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: max(1.2vw, 10px);
}

tr {
  background-color: aliceblue;
  border-top: 2px solid white;
}

tr:hover {
  cursor: default;
}

th {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: .8em;
  background-color: #53638180;
  color: white;
}

td {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: .8em;
  padding: 15px;
}

/* ---------------------USER LOGIN VIEW--------------------- */

.user-login-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 422px;
  width: 72%;
}

.user-login-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 74%;
  height: 68%;
}

.user-login-parent>p {
  font-size: 1.5em;
}

.login-input-grandparent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .6em;
  height: 86px;
  justify-content: space-evenly;
}

.login-input {
  height: 10px;
  font-size: 10px;
  width: 110px;
}

.login-button {
  margin: 23px;
  width: 60px;
  letter-spacing: 1px;
}

.login-error {
  color: #e72600;
  margin: 0px;
  font-size: 9px;
  height: 9px;
}

/* ---------------------ADMIN VIEW--------------------- */

.admin-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 92%;
}

.admin-parent {
  height: 550px;
  width: 100%;
  background-color: #00000066;
  color: white;
}

.admin-header-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin: 3px 5px 3px 0px;
}

.admin-header {
  width: 100%;
  height: 3%;
  font-size: .8em;
  border-bottom: 1px solid white;
  padding-left: 4px;
}

.report-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35%;
  border-bottom: 1px solid white;
}

.admin-user-bookings-table-container,
.guest-table-parent,
.report-rooms-table-parent {
  background-color: white;
  overflow: auto;
  overflow-x: hidden;
}

.stats-table-parent {
  width: 30%;
  height: 50%;
}

.admin-table-row>td {
  height: 20px;
  padding: 0px;
  border: 1px solid rgb(255, 255, 255);
  color: black;
}

.lookup-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 57%;
}

.report-rooms-table-parent {
  height: 145px;
  width: 360px;
}

.lookup-left,
.lookup-center,
.lookup-right {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  justify-content: space-evenly;
}

.guest-search-label {

  font-size: .6em;
}

.guest-search-input-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.guest-search-input {
  height: 10px;
  font-size: 10px;
  width: 120px;
  margin-right: 5px;
}

.admin-button {
  height: 15px;
  width: 48px;
  font-size: 8px;
  letter-spacing: 1px;
}

.guest-table-parent {
  height: 165px;
}

.guest-result-row:hover {
  cursor: pointer;
}

.lookup-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.admin-user-bookings-table-container {
  height: 248px;
  width: 279px;
}

.lookup-right {
  width: 40%;
}

.admin-new-booking-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 285px;

}

.admin-new-booking-parent>h3 {
  font-size: .8em;
  font-weight: 800;
}

.admin-new-booking-fields {
  width: 100%;
}

.admin-date-parent {
  display: flex;
  width: 100%;
}

.admin-date-input {
  height: 12px;
  font-size: .6em;
  margin-right: 5px;
}

.admin-date-error {
  color: white;
  height: 13px;
  margin: 0px;
  font-size: 9px;
}

.admin-new-booking-table-parent {
  width: 100%;
  height: 161px;
}

.admin-submit-button {
  margin-top: 10px;
}

/* ---------------------HEADER--------------------- */

header {
  display: flex;
  align-items: center;
}

.header-left,
.header-right {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.header-left {
  justify-content: flex-start;
}

.logo {
  font-size: 1.2em;
  margin-right: 30px;
  margin-left: 11px;
  cursor: pointer;
}

.header-subtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: .5em;
  margin-top: 12px;
  letter-spacing: 2px;
}

.header-right {
  justify-content: flex-end;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* ---------------------BANNER--------------------- */

.banner-parent {
  display: flex;
  width: 80%;
  height: 66vw;
  margin-top: 6vw;
}

.image-parent-left,
.image-parent-right {
  width: 50%;
  height: 66vw;
}

.image-parent-right {
  display: flex;
  align-items: flex-end
}

.banner-image {
  width: 100%;
  transform: scaleX(-1);
  opacity: .95;
}

.overlook-title {
  position: absolute;
  background-color: #ffffffe6;
  padding: 1vw 4vw;
  right: 21%;
  top: 17%;
  letter-spacing: 2px;
}

.copy-oneline {
  position: absolute;
  background-color: #ffffffe6;
  font-size: 1.4vw;
  padding: 1vw 4vw;
  left: 12%;
  top: 42%;
}

/* ---------------------USER TOOLS VIEW--------------------- */

.user-tools-view {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 116vw;
  width: 72%;
  height: 822px;
  background-color: rgba(255, 255, 255, 0.81);
  font-size: .8em;
}

.accordion-parent {
  display: flex;
  flex-direction: column;
  width: 150%;
}

.accordion-banner-parent {
  margin: 25px 30px 0px 30px;
}

.hotel-copy-parent {
  height: 215px;
}

.hotel-copy-left,
.hotel-copy-right {
  width: 48%;
  margin-bottom: 20px;
  height: 48px;
}

.hotel-copy-right {
  float: right;
}

.copy-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: .3em;
  letter-spacing: 2px;
}

.accordion-welcome-parent {
  text-align: center;
  margin-bottom: 35px;
}

.accordion-welcome {
  margin-bottom: 35px;
}

.accordion-welcome-parent>p {
  font-size: .7em;
}

.accordion-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 10px;
  background-color: #f5f0ef;
  border: 1px solid #d7d1d0;
  height: 20px;
}

.accordion-button-collapsed::after {
  font-family: 'Material Icons';
  content: 'expand_more';
  float: right;
}

.accordion-button-open::after {
  content: 'expand_less';
}

/* ---------------------ACC: PROFILE--------------------- */

.profile-parent {
  flex-direction: column;
  height: 470px;
  display: none;
}

.dash-guest-name {
  font-size: 1.2em;
  margin-top: 21px;
}

.stays-parent {
  overflow: auto;
  overflow-x: hidden;
  width: 80%;
  height: 138px;
}

/* ---------------------ACC: ABOUT--------------------- */

.about-parent {
  display: none;
  flex-direction: column;
}

/* ---------------------NEW BOOKING VIEW--------------------- */

.book-grandparent {
  height: 380px;
}

.book-accordion-buttons {
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  height: 19px;
}

.accordion-header-collapsed {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.accordion-header-collapsed>h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 10px;
  margin: 0px;
}

.accordion-header-open {

}

.date-grandparent {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 175px;
}

.date-parent {
  display: flex;
  flex-direction: column;
}

.submit-button {
  height: 18px;
  width: 52px;
  font-size: 8px;
  letter-spacing: 1px;
}

.error {
  color: #e72600;
  height: 9px;
}

.rooms-grandparent {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 387px;
}

.rooms-parent {
  overflow: auto;
  overflow-x: hidden;
  width: 80%;
  height: 206px;
}

.select-grandparent {
  display: flex;
  align-items: flex-end;
  width: 80%;
}

.filter-label {
  margin-right: 10px;
}

.clear-filter {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 7px;
  height: 15px;
  border: none;
  margin-left: 5px;
  padding: 3px;
}

select {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  outline: 0;
  background-image: none;
  width: 20%;
  height: 15px;
  color: black;
  cursor: pointer;
  font-size: 8px;
  border: 1px solid black;
  border-radius: 3px;
}

select:focus {
  border: 2px solid #1a7fcf;
}

.active {
  background-color: #cbdded;
}

.avail-room-tr:hover {
  cursor: pointer;
}

.confirm-grandparent {
  height: 290px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.confirm-details {
  width: 81%;
  display: flex;
  flex-direction: column;
}

.confirm-details>h2 {
  font-size: 1em;
}

.details-ul {
  border: 1px solid #b0c6d8;
  background-color: aliceblue;
  padding: 20px 30px;
}

.details-ul>* {
  list-style: none;
}

.guest-name-li {
  font-size: 1.2em;
}

.room-details-li {
  margin-top: 20px;
}

.room-details-ul {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 17px;
}

.total-li {
  margin-top: 15px;
}

.edit-details-button {
  width: 62px;
  font-size: 6px;
  height: 14px;
}

.success-grandparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.conf-code {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f0ef;
  width: 60%;
  height: 21px;
  margin: 0% 20%;
  padding-top: 1px;
}

/* KEEP AT BOTTOM */

.hide {
  display: none;
}

.show {
  display: flex;
}